/* ====================  HOMEPAGE STYLING ========================= */
body {
  background-color: beige;
  display: flex;
  justify-content: center;
}

#game-screen {
  display: grid;
  grid-template-columns: [col1] 50px [col2] 50px [col3] 50px [col4] 50px [col5] 50px [col6] 50px [col7] 50px [col8] 50px [col9] 50px [col10] 50px [col11] 50px [col12] 50px [col13] 50px;
  grid-template-rows: [row1] 50px [row2] 50px [row3] 50px [row4] 50px [row5] 50px [row6] 50px [row7] 50px [row8] 50px;
  margin-top: 15%;
  width: 650px;
  height: 400px;
  border-radius: 15px;
  background-color: rgb(216, 179, 179);
}

h1 {
  text-align: center;
  padding-top: 20px;
}

#start-btn {
  text-decoration: none;
  color: black;
  font-weight: 400;
  height: 20px;
  width: 40px;
  border: 1px solid black;
  padding: 10px;
  background-color: rgb(240, 145, 76);
  margin-left: 40%;
}

#start-btn:hover {
  color: crimson;
  background-color: rgb(222, 165, 125);
}

/* ==================== CHARACTER PAGE STYLING ========================= */

.title {
  margin-top: 5%;
  text-align: center;
}

table{
    margin: auto;
    text-align: center;
    font-weight: 600;
}

td{
    padding: 10px;
}

.chef-img {
  border: solid 1px black;
  vertical-align: middle;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.chef-img:hover{
    width: 100px;
    height: 100px;
}

/* ==================== GAME PAGE STYLING ========================= */
